@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
}
